__pycache__/
*.pyc
build/
/.config/
*.dSYM/
/project-doc/remote/
/project-doc/remote_logs/
/oren
/oren_stage2
/oren_stage2_dbg
/oren_bootstrap
/oren_boostrap
/oren_bootstrap_linux
/oren_linux
/oredoc
/orensign
/avm
/avm.exe
*.oren.c
/benchmarks/results/
