# Build outputs
oren_bootstrap
oren_boostrap
oren
oren_stage*
*.o
*.dSYM/


# Generated C
*.oren.c

# Bytecode / libs / misc artifacts
*.obc
*.otool
*.dylib
*.so

# Test/build byproducts (keep sources)
tests/native/*
!tests/native/*.oren
tests/modules/*
!tests/modules/*.oren

.DS_Store
build/
